:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --secondary-black-color: #2f303a;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --secondary-white-color: #f5f4fa;
  --secondary-grey-color: #ececec;
  --primary-grey-color: #afb1b8;
}

html {
  box-sizing: border-box;
}

/* Стилі для index.html*/

body {
  background-color: var(--primary-white-color);
  color: var(--title-text-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-right: 15px;
  padding-left: 15px;
  background-color: var(--primary-white-color);
}

.flex {
  display: flex;
  align-items: center;
}

/* HEADER*/

.page-header {
  background: var(--primary-white-color);
  padding-top: 24px;
  padding-bottom: 25px;
  border: 1px solid #ececec;
}

.adr-link {
  color: var(--primary-text-color);
  font-style: normal;
  text-decoration: none;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
}

.adr-link:hover,
.adr-link:focus {
  color: var(--accent-color);
}

.adr-list {
  display: flex;
  list-style: none;
  font-style: normal;
  margin: 0;
  padding: 0;
  margin-left: auto;
}

.adr-list .item:not(:last-child) {
  margin-right: 50px;
}

.main-nav {
  display: flex;
  align-items: center;
}

/* LOGO */

.logo {
  color: var(--title-text-color);
  font-family: Raleway, sans-serif;
  font-family: Raleway;
  font-style: 400;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
  margin-right: 93px;
  align-self: center;
}

.logo:hover,
.logo:focus {
  color: var(--accent-color);
}

.black {
  color: var(--accent-color);
}

.white {
  color: var(--primary-white-color);
}

.list {
  list-style: none;
}

/* SITE-NAV */

.site-nav .item:not(:last-child) {
  margin-right: 50px;
}

.site-nav a {
  display: block;

  color: var(--title-text-color);
  font-family: Roboto;
  font-style: 400;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  text-decoration: none;
}

.site-nav a:hover,
.site-nav a:focus {
  color: var(--accent-color);
}

.site-nav .current {
  color: var(--accent-color);
}
.site-nav list {
  display: block;
  margin-top: 0;
  margin-bottom: 0;
}
.contacts {
  margin-left: auto;
}
.envelope-picture {
  fill: var(--primary-text-color);
  margin-right: 10px;
}

.phone-picture {
  fill: var(--primary-text-color);
  margin-right: 10px;
  margin-left: 30px;
}

.phone-link {
  text-decoration: none;
  color: var(--primary-text-color);
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
}

.envelope-link {
  text-decoration: none;
  color: var(--primary-text-color);
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
}

.envelope-link:hover {
  color: var(--accent-color);
}

.phone-link:hover {
  color: var(--accent-color);
}

.envelope-link:hover svg {
  fill: var(--accent-color);
}

.phone-link:hover svg {
  fill: var(--accent-color);
}

.envelope-link:hover.phone-link:hover svg {
  fill: var(--accent-color);
}

/*HERO */

.hero {
  /* background: var(--secondary-black-color);*/
  text-align: center;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(..//images/Img101.jpg);

  padding-top: 200px;
  padding-bottom: 200px;
}

.hero-title {
  color: var(--primary-white-color);
  /* background: var(--secondary-black-color);*/
  font-family: Roboto;
  font-style: 400;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 30px;
}

.hero-button {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  width: 200px;
  height: 50px;
  border-radius: 4px;
  border: 1px solid var(--accent-color);
}

/*.hero-button:hover,
.hero-button:focus {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
}*/

.container-hero {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-right: 15px;
  padding-left: 15px;
}

/* WORK */

.work-title,
.team-title {
  color: var(--title-text-color);
}

.container-work {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-right: 15px;
  padding-left: 15px;
}

/* VECTOR-LIST*/

.vectors {
  width: 270px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--secondary-white-color);
  margin-bottom: 30px;
}

/* FEACHERS */
.feachers {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 94px;
  padding-bottom: 0;
}

.feacher-list {
  color: var(--primary-text-color);
  font-family: Roboto;
  font-style: 400;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  list-style: none;
}

.feacher-list {
  display: flex;
  padding: 0;
  margin: 0;
}

.feacher-title {
  color: var(--title-text-color);
  font-family: Roboto;
  font-style: 400;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 10px;
}

.feacher-list-item {
  width: 270px;
}

.feacher-list-item:not(:last-child) {
  margin-right: 30px;
}

.container-feacher {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-right: 15px;
  padding-left: 15px;
}
.feacher-text {
  margin-top: 0;
  margin-bottom: 0;
}

/* WORK */
.work {
  background: var(--primary-white-color);
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 94px;
  padding-bottom: 94px;
}

.container-work {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-right: 15px;
  padding-left: 15px;
}

.work-title {
  color: var(--title-text-color);
  font-family: Roboto;
  font-style: 400;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  margin-top: 0;
  margin-bottom: 50px;
}

.work-list {
  display: flex;
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}

.work-list :not(:last-child) {
  margin-right: 30px;
}

.work-list img {
  display: block;
}

/* TEAM */

.team {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: var(--secondary-white-color);
  text-align: center;
}

.team-title {
  font-family: Roboto;
  font-style: 400;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  margin-top: 0;
  margin-bottom: 50px;
}

.photo {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.name-title {
  font-family: Roboto;
  font-style: 400;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  margin-top: 30px;
  margin-bottom: 10px;
}

.name-text {
  font-family: Roboto;
  font-style: 400;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  margin-top: 0;
}

.team-item:not(:last-child) {
  margin-right: 30px;
}

.team-item {
  width: 270px;
  height: 428px;
  box-sizing: border-box;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  background: var(--primary-white-color);
}

.container-team {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-right: 15px;
  padding-left: 15px;
}

/* CUSTOMERS */

.customers {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: var(--primary-white-color);
  text-align: center;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-right: 15px;
  padding-left: 15px;
}

.customers-title {
  margin-top: 0;
  margin-bottom: 50px;

  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.customers-item:hover .customers-link {
  border: 1px solid var(--accent-color);
}

.customers-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 90px;

  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;
}

.customers-item:hover svg,
.customers-item:focus svg {
  fill: var(--accent-color);
}

.customers-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.customers-item:not(:last-child) {
  margin-right: 30px;
}

.picture {
  fill: #afb1b8;
}

/* SOCIAL-MEDIA*/

.media-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.social:not(:last-child) {
  margin-right: 10px;
}

.social:hover svg,
.social:focus svg {
  fill: var(--primary-white-color);
}

.social:hover .social-link {
  background: var(--accent-color);
}

.media-picture {
  fill: var(--primary-grey-color);
}

.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
}

/* FOOTER MEDIA-LIST*/

.spysok {
  margin-left: 70px;
  align-self: baseline;
}

.footer-title {
  margin-top: 0;
  margin-bottom: 20px;

  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: left;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-white-color);
}

.footer-media-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-social:not(:last-child) {
  margin-right: 10px;
}

.footer-social:hover svg,
.footer-social:focus svg {
  fill: var(--primary-white-color);
}

.footer-social:hover .footer-social-link {
  background: var(--accent-color);
}

.footer-social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
}

.footer-media-picture {
  fill: var(--primary-white-color);
}

.kolonky {
  display: flex;

  align-items: baseline;
}

/* FOOTER */

.address:hover,
:focus {
  color: var(--accent-color);
  text-decoration: none;
}

.address {
  list-style: none;
}

.footer {
  background: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.logo-footer {
  display: block;
  color: var(--title-text-color);
  font-family: Raleway, sans-serif;
  font-family: Raleway;
  font-style: 400;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
  align-self: center;
  margin-bottom: 20px;
}

.container-footer {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-right: 15px;
  padding-left: 15px;
}

.footer-list {
  list-style: none;
  font-style: normal;
  padding: 0;
  margin: 0;
}

/* Стилі для portfolio.html*/

.menu {
  padding-top: 94px;
  padding-bottom: 94px;
}

.flex-container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.flex-element {
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;
  box-sizing: border-box;
  border: 1px solid #eeeeee;
  overflow: hidden;
}

.flex-element:nth-child(3n) {
  margin-right: 0;
}

.flex-element:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.flex-element:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.roditel {
  position: relative;
  transform: translateY(140%);
}

.tehno-block {
  position: absolute;

  display: flex;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  align-items: center;
}

.tehno-text {
  width: 322px;
  height: 168px;
  font-family: Roboto;
  font-style: 400;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 1);
}

.roditel:hover {
  transform: translateY(0);
}

.filter-list {
  display: flex;
  justify-content: center;
  margin-top: 0;
  margin-bottom: 50px;
  padding: 0;
  list-style: none;
}

.names {
  font-family: Roboto;
  font-style: 400;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
  list-style: none;
  margin-left: 24px;
  margin-right: 24px;
}

.text {
  font-family: Roboto;
  font-style: 400;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  text-decoration: none;
  margin-left: 24px;
}

.filter-item:not(:last-child) {
  margin-right: 8px;
}

.button-p {
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 22px;
  padding-right: 22px;
  background: var(--secondary-white-color);
  border-radius: 4px;

  font-family: Roboto;
  font-style: 400;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.03em;
  color: var(--title-text-color);

  text-decoration: none;
  border: none;
}

.button-p:hover,
:focus {
  background: var(--accent-color);
  color: var(--primary-white-color);
}

.list {
  display: flex;
  flex-wrap: wrap;
  padding-top: 0;
  padding-bottom: 0;
  padding-right: 0;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  text-decoration: none;
  list-style: none;
}

.link-a {
  display: block;
  color: var(--primary-white-color);
  text-decoration: none;
  font-style: normal;
  margin-bottom: 9px;
}

.link-a:hover,
:focus {
  color: var(--accent-color);
}

.address .link {
  list-style: none;
  font-style: normal;

  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}

.link {
  display: block;
  margin-bottom: 9px;
}

.link:not(:last-child) {
  margin-bottom: 9px;
}

.link:hover,
:focus {
  color: var(--accent-color);
}

.posters {
  text-decoration: none;
}

.footer-link {
  list-style: none;
  font-style: normal;
  margin-top: 0;
  margin-top: 0;

  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}

.footer-link:hover,
:focus {
  color: var(--accent-color);
}
/* MODAL */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop .is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden.modal {
  transform: scale(0.9);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 528px;
  height: 581px;

  background-color: rgba(255, 255, 255, 1);
  box-shadow: rgba(0, 0, 0, 0, 2);
}
